
@{
    ViewBag.Title = "Forces";
}

<h2>@ViewBag.Message</h2>
<div>You can recruit troops by entering the number you want to buy and pressing the recruit button at the end of the page.</div>
<div>@Html.Label("Archer") - @Html.TextBox("Archer amount")</div>
<div>@Html.Label("Knight") - @Html.TextBox("Knight amount")</div>
<div>@Html.Label("Elite")  - @Html.TextBox("Elite amount")</div>


