@model  EnCoOrszag.Models.DataAccess.Entities.Forces
@{
    ViewBag.Title = "Forces";
}



<h2>@ViewBag.Message</h2>
<div>You can recruit troops by entering the number you want to buy and pressing the recruit button at the end of the page.</div>

@using (Html.BeginForm("Recruit", "Forces", FormMethod.Post))
{
    <div>@Html.LabelFor(m => m.Id) - @Html.TextBox("Archer amount")</div>
    <div>@Html.Label("Knight") - @Html.TextBox("Knight amount")</div>
    <div>@Html.Label("Elite ") - @Html.TextBox("Elite amount")</div>
    
    <input type="button" value="Recruit" />
}




