
@{
    ViewBag.Title = "Country";
}

<h2>@ViewBag.Message</h2>

<div>
    @Html.ActionLink("Build something", "Construction", "Construction")
    -
    @Html.ActionLink("Recruit some soliders", "Forces", "Forces")
    -
    @Html.ActionLink("Send assault", "Army", "Army")
    -
    @Html.ActionLink("Research", "Researching", "Researching")
</div>
<div>
    
</div>