@model EnCoOrszag.ViewModell.CountryViewModel
@{
    ViewBag.Title = "Country";
}

<h2>@ViewBag.Message</h2>

<table border="1">
    <tr>
        <th>Building</th>
        <th>Research</th>
        <th>Military</th>
    </tr>
    <tr>
        <td>@Html.ActionLink("Make buildings", "Building", "Building")</td>
        <td>@Html.ActionLink("Start research", "Research", "Research")</td>
        <td>@Html.ActionLink("...", "Army", "Army")</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Current constructions","CurrentConstructions","Construction")</td>
        <td>TODO</td>
        <td>TODO</td>
    </tr>
</table>


    







