<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        th, td{
            padding: 10px;
            align-items: center;
            align-content: center;
        }
    </style>
</head>
@model EnCoOrszag.ViewModell.CountryViewModel
@{
    ViewBag.Title = "Country";
}


<h1>@ViewBag.Message</h1>

<h2>Welcome to your country majesty.</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Potato</th>
        <th>Gold</th>
        <th>Score</th>
        <th>
            @using (Html.BeginForm("EndTurn", "Country", FormMethod.Get))
            {
                <input type="submit" value="End turn" />
            }
        </th>
        <th>
            @Html.ActionLink("Highscore", "Highscore", "Highscore")
        </th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Potato</td>
        <td>@Model.Gold</td>
        <td>@Model.Score</td>
        <td>@Model.Turn</td>
    </tr>
</table>
<br />

    @foreach (var item in Model.History)
    {
        <p>The attack by: @item.Attacker on @item.Defender with an army of @item.Attack power was a @item.Result against the defensive power of @item.Defense.
        <br />The army stole @item.WonPotato potato and @item.WonGold gold, while lost @item.Losses</p>
        <br />
    }


<br />

<table>
    <tr>
        <th>Building</th>
        <th>Research</th>
        <th>Military</th>
    </tr>
    <tr>
        <td>@Html.ActionLink("Make buildings", "Building", "Building")</td>
        <td>@Html.ActionLink("Start research", "Research", "Research")</td>
        <td>@Html.ActionLink("ArmyRecruit", "ArmyRecruit", "ArmyRecruit")</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Current constructions","CurrentConstructions","Construction")</td>
        <td>@Html.ActionLink("Current researches","CurrentResearching","Researching")</td>
        <td>@Html.ActionLink("Assault", "Assault", "Assault")</td>
    </tr>
</table>


    







